.content{
	overflow: auto;
	padding: 0;
	background: none;
}


.challenge-tile{
	text-decoration: none;
	background-color: #049372;
	width: 48%;
	margin: 0 1% 10px;
	float: left;
	font-family: 'Open Sans';
	font-size: 45px;
	padding: 10px;
	display: inline-block;
}
.advanced{
	border-left: 10px solid #FFD700;
}

.beginner{
	border-left: 10px solid #ECF0F1;
}

section.problems-old{
	display: block;
	margin-top: 10px;
}

.advanced a{
	color: white;
}

.beginner a{
	color: white;
}

#problem-container > div{
	width: 50%;
	margin: 0;
	float: left;
	text-align: center;
	display: inline-block;

}

#problem-container header{
	font-family: 'Open Sans';
	font-size: 45px;
	width: 98%;
	margin: auto;
	margin-top: 5px;
	padding: 10px;
	background-color: #019875;
}



#advanced-column{
	color: #FFD700;
	margin-right: 2px;
}

#beginner-column{
	color: #ECF0F1;
	margin-left: 2px;
}